<ActionBar title="Available Parking" class="action-bar" style="background:#404040"></ActionBar>
<StackLayout class="page">
        <!--<ListView class="list-group" [items]="parkingInfos" (itemTap)="parkingSelected($event)">
			<ng-template let-item="item">
				<GridLayout columns="*,auto" class="list-group-item">
					<Label [text]="item.OperatorName" col="0" class="list-group-item-text"></Label>
					<Label [text]="item.Distance" col="1" class="list-group-item-text quantity-badge"></Label>
				</GridLayout>
			</ng-template>
		</ListView>-->

         <MapView *ngIf="latitude && longitude" [latitude]="latitude" [longitude]="longitude"
                  [zoom]="zoom" [bearing]="bearing"
                  [tilt]="tilt" (mapReady)="onMapReady($event)"></MapView>
</StackLayout>