<ActionBar title="Parking Expires" class="action-bar" style="background:#404040"></ActionBar>
<StackLayout class="page">
    <StackLayout orientation="horizontal" class="form">
        <StackLayout orientation="horizontal" class="input-field m-x-auto">
            <TextField class="input time-input input-border text-center" [(ngModel)]="hours"></TextField><Label text=" "></Label>
            <TextField class="input time-input input-border text-center" [(ngModel)]="minutes"></TextField><Label text=" "></Label>
            <TextField class="input time-input input-border text-center" [(ngModel)]="seconds"></TextField>
        </StackLayout>
    </StackLayout>
    <Button class="btn btn-primary" text="Set Reminder" (tap)="setReminder()"></Button>
</StackLayout>