<ActionBar title="Register Parking" class="action-bar" style="background:#404040"></ActionBar>
<StackLayout class="page">
    <StackLayout class="form">
        <GridLayout columns="auto,*" rows="auto" class="input-field">
            <Label col="0" row="0" text="Address : "></Label>
            <TextField col="1" row="0" class="input input-border" [(ngModel)]="operator.Address1"></TextField>
        </GridLayout>
        <GridLayout columns="auto,*" rows="auto" class="input-field">
            <Label col="0" row="0" text="Number Of Spaces : "></Label>
            <TextField col="1" row="0" class="input input-border" [(ngModel)]="operator.NumberOfSpaces"></TextField>
        </GridLayout>
        <StackLayout class="input-field">
            <Label text="Rates"></Label>
        </StackLayout>
        <StackLayout orientation="horizontal" class="input-field">
            <Label text="Hour : "></Label>
            <TextField class="input hour-input input-border text-center" [(ngModel)]="operator.HourOpen"></TextField>
            <Label text=" to "></Label>
            <TextField class="input hour-input input-border text-center" [(ngModel)]="operator.HourClosed"></TextField>
            <Label text=" $"></Label>            
            <TextField class="input hour-input input-border text-center" [(ngModel)]="operator.InitialFee"></TextField>
        </StackLayout>
        <GridLayout columns="auto,*" rows="auto" orientation="horizontal" class="input-field">
            <Label col="0" row="0" text="Accepts Credit"></Label>
            <Switch col="1" row="0" [(ngModel)]="operator.AcceptsCredit" class="switch"></Switch>
        </GridLayout>
         <GridLayout columns="auto,*" rows="auto" orientation="horizontal" class="input-field">
            <Label col="0" row="0" text="Accepts Cash"></Label>
            <Switch col="1" row="0" [(ngModel)]="operator.AcceptsCash" class="switch"></Switch>
        </GridLayout>
        <GridLayout columns="auto,*" rows="auto" orientation="horizontal" class="input-field">
            <Label col="0" row="0" text="Covered Parking"></Label>
            <Switch col="1" row="0" [(ngModel)]="operator.CoveredParking" class="switch"></Switch>
        </GridLayout>
    </StackLayout>
    <Button class="btn btn-primary" text="Register as event Parking" (tap)="save(true)"></Button>
    <Button class="btn btn-primary" text="Register as parking garage" (tap)="save(true)"></Button>
</StackLayout>